body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}
.game-board{
	width: 1680px;

}
.game-container{
	width: 800px;
	height: 800px;
	float: left;
}

.cell{
	height: 18px;
	width: 18px;
	border: solid 1px;
	float: left;
	background: none;
	font-size: 10px;
}

.start-button {
	background-color: #5cb85c;
}

.disabled{
	background-color: grey;
	color: black;
}

.button-container{
	float: left;
	width: 700px;
	padding-left: 25px;
}

button {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: none;
	margin-left: 10px;
	background-color: #428bca;
	color: #fff;
	font-size: 20px;
	outline: none;
}

.board-selection {
	margin-top: 5px;
	margin-bottom: 25px;
}

.styled-select {
   width: 240px;
   height: 34px;
}

.styled-select select {
   background: transparent;
   width: 240px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   border: 1px solid;
   background-color:#fff;
   color: #428bca;
}

.submit {
	width: 70.348px;
	height: 34px;
	border-radius: 4px;
	font-size: 16px;
	margin-top: 5px;
	background-color: #fff;
	color: #333;
	border-color: #ccc;
	border: 1px solid;
	margin-left: 0;
}

.stop-button {
	background-color: #d9534f;
}

