.game-board{
	width: 1200px;

}
.game-container{
	width: 800px;
	height: 800px;
	float: left;
}

.cell{
	height: 18px;
	width: 18px;
	border: solid 1px;
	float: left;
	background: none;
}

.button-container{
	float: left;
	width: 400px;
}